<h1>Your Twitter feed</h1>
<p>Helle <%= current_user.name %></p>
<p>Here are your friends tweets</p>


<!-- @following_tweets  -->

<div>
	<% @following_tweets.each do |tweet| %>
	<div> <!-- adding div so looks better  -->
		<p> <%= tweet.message %>
		</p>
		<p><strong><em><%= tweet.user.username %></em></strong></p>
	</div>
	<% end %>
</div>